<h1>All your Games</h1>

<% @game.each do |games| %>
  <li><%= link_to games.name, games %></li>
<% end %>

<%= form_tag("/games", method: "get") do %>
<%= label_tag(:name, "Search Game by name") %>
  <%= text_field_tag(:name) %>
  <%= submit_tag("Search") %>
<% end %>