<h2><%= @games.name %></h2>
<h2><%= @games.genres %></h2>
<h2><%= @games.description %></h>

<h3>Comments</h3>

<ul>
  <% @games.comments.each do |comment| %>
   <li><%= comment.stars %> <br>

   <%= comment.content %></li>
  <% end %>
</ul>