<h2><%= @game.name %></h2>
<h2><%= @game.genre %></h2>
<h2><%= @game.description %></h>

<h3>Comments</h3>

<ul>
  <% @game.comment.each do |comment| %>
   <li><%= comment.stars %> <br>

   <%= comment.content %></li>
  <% end %>
</ul>